@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
//colors

//primary
$orange: hsl(31, 77%, 52%);
$lcyan: hsl(184, 100%, 22%);
$dcyan: hsl(179, 100%, 13%);

//neutral
$paragraph: hsla(0, 0%, 100%, 0.75);
$lgray: hsl(0, 0%, 95%);

//font

$fsize: 15px;
$ffamily700: 'Big Shoulders Display', cursive;
$ffamily400: 'Lexend Deca', sans-serif;
$fw700: 700;
$fw400: 400;
